{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% blockend title%}</title>
    <link {% block css_link %} {% blockend css-link %} />
  </head>
  <body>
    <!-- navigation bar -->
    <header>
      <div class="nav-title">
        <img src="{% static "media/images/salad.png" %}" />
        <h3>
          <a class="main-page-link" href="{% url 'recipe_list' %}"
            >Scrumptious Recipes</a
          >
        </h3>
      </div>
      <a> {% block header_link %} {% endblock header_link%} </a>
    </header>
    <main>{% block content%} {% blockend content%}</main>
    <!-- footer -->
    <div class="footer">
      <footer>Made with love ©</footer>
      <footer id="footer-sig">Scrumptious Recipes</footer>
    </div>
  </body>
</html>
