{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <!-- Nav Bar -->
    <header>
      <div class="nav-title">
        <img src="../../static/media/images/salad.png" />
        <h3>
          <a class="main-page-link" href="{% url 'recipe_list' %}"
            >Scrumptious Recipes</a
          >
        </h3>
      </div>
    </header>
    <!-- Create Form-->
    <main>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Create</button>
      </form>
    </main>
    <!-- Footer -->
    <div class="footer">
      <footer>Made with love ©</footer>
      <footer id="footer-sig">Scrumptious Recipes</footer>
    </div>
  </body>
</html>
