{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <!-- Nav Bar -->
    <header>
      <div class="nav-title">
        <img src="../../static/media/images/salad.png" />
        <h3>
          <a class="main-page-link" href="{% url 'recipe_list' %}"
            >Scrumptious Recipes</a
          >
        </h3>
      </div>
      <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
    </header>
    <main class="grid-container">
      <!-- Details -->
      <div id="details">
        <div id="signature">
          <h2>Scrumptious Recipes</h2>
        </div>
        <div class="recipe-title">
          <h1>{{ recipe_object.title }}</h1>
        </div>
        <div>
          <h2 id="origin">Origin: Italy, Europe</h2>
          <p>{{ recipe_object.description }}</p>
        </div>
        <div id="recipe-detail">
          <div>
            <img
              class="detail-icon"
              src="../../static/media/images/star-icon.svg "
            />
            <p>★★★</p>
          </div>
          <div>
            <img
              class="detail-icon"
              src="../../static/media/images/clock-icon.png"
            />
            <p>Ready in 45 minutes</p>
          </div>
          <div>
            <img
              class="detail-icon"
              src="../../static/media/images/people-icon.png"
            />
            <p>Serves 4</p>
          </div>
        </div>
        <!-- <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
            eius corrupti quidem et obcaecati accusamus! Deleniti distinctio
            maxime sit non ipsum accusantium et, modi autem. Vero fuga similique
            tempora quos!
          </p>
        </div> -->
      </div>

      <!-- Ingredients List -->
      <div id="ingredients-list">
        <h2>Ingredients</h2>
        <!-- Base Ingredients -->
        <div>
          <div>
            <h3>Dough</h3>
            <table>
              <tr>
                <td>2.5 cups Flour</td>
              </tr>
              <tr>
                <td>1 tsp Salt</td>
              </tr>
              <tr>
                <td>1 tsp Sugar</td>
              </tr>
              <tr>
                <td>1 tbsp Yeast</td>
              </tr>
              <tr>
                <td>1 cup water</td>
              </tr>
              <tr>
                <td>1 tbsp oil</td>
              </tr>
            </table>
          </div>
          <!-- Toppings Ingredients -->
          <div>
            <h3>Toppings</h3>
            <table>
              <tr>
                <td>0.25 cups Tomato sauce</td>
              </tr>
              <tr>
                <td>1 tsp Italian seasoning</td>
              </tr>
              <tr>
                <td>0.5 tsp Garlic power</td>
              </tr>
              <tr>
                <td>0.5 tsp Salt</td>
              </tr>
              <tr>
                <td>1.5 cups Pepperoni slices</td>
              </tr>
              <tr>
                <td>1 cup Mozzarella cheese</td>
              </tr>
              <tr>
                <td>3 tbsp Grated parmesan cheese</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- Steps -->
      <div id="steps">
        <h2>Instructions</h2>
        <ol>
          <li>In large bowl, mix first 4 ingredients.</li>
          <li>Mix water and oil; add to flour mixture.</li>
          <li>Turn onto floured surface; knead for 2 minutes.</li>
          <li>Place in a greased bowl; turning to grease top.</li>
          <li>Cover and let rise for 20 minutes.</li>
          <li>Punch down; place on 12in, greased pizza pan.</li>
          <li>Pat into a circle.</li>
          <li>Topping: Mix first 5 ingredients and spread over crust.</li>
          <li>Put a few pepperoni slices on top of sauce.</li>
          <li>
            Sprinkle with 1/2 the mozzeralla; 1/2 the monterey jack, and 1/2 the
            parmesan.
          </li>
          <li>Put the rest of the pepperoni on.</li>
          <li>Bake at 400* for 20 minutes or until light brown.</li>
        </ol>
      </div>

      <!-- Recipe Pic -->
      <div id="large-pic">
        <img src="{{ recipe_object.picture }}" />
      </div>
    </main>

    <!-- Footer -->
    <div class="footer">
      <footer>Made with love ©</footer>
      <footer id="footer-sig">Scrumptious Recipes</footer>
    </div>
  </body>
</html>
