{% entends 'base.html'%}

    <title>Scrumptious Recipe</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
  </head>
  <body>
    <!-- navigation bar -->
    <header>
      <div class="nav-title">
        <img src="{% static "media/images/salad.png" %}" />
        <h3>
          <a class="main-page-link" href="{% url 'recipe_list' %}"
            >Scrumptious Recipes</a
          >
        </h3>
      </div>
      <a href="{% url 'create_recipe' %}">Create a recipe</a>
    </header>
    <main>
      <!-- Page Title -->
      <div class="top">
        <div><img src="{% static "media/images/title-img.jpg" %}" /></div>
        <div class="title">
          <h2>Scrumptious Recipes</h2>
          <div>
            <h1>LET'S EAT</h1>
            <h3>Most Popular Foods Around the World</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fugit
              odit reprehenderit hic aperiam ipsum sed laudantium deleniti
              delectus exercitationem minima eaque molestiae eveniet nobis,
              adipisci error magnam ab consectetur eligendi repellendus, natus
              consequatur nihil architecto expedita! At, rerum hic. Architecto
              veritatis, esse nemo, eaque odit rerum eius ipsam voluptate natus
              maiores hic ipsa recusandae? Molestias ullam, aliquam, laboriosam
              commodi eveniet voluptatibus vel cumque, nostrum dolorem odit eius
              sed. Facere!
            </p>
          </div>
        </div>
      </div>
      <!-- Recipe List -->

      <div class="middle">
        <div>
          <!-- Recipe One -->
          {% for recipe in recipe_list %}
          <div class="pizza">
            <img src="{{recipe.picture}}" />
            <p class="stars">★★★</p>
            <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
            <p>{{recipe.created_on|date:"j F Y"}}</p>
            <!-- <p>{{recipe.description}}</p> -->
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
    <!-- footer -->
    <div class="footer">
      <footer>Made with love ©</footer>
      <footer id="footer-sig">Scrumptious Recipes</footer>
    </div>
  </body>
</html>
